@{
    ViewBag.Title = "Sobre";
}


    <h3>Sobre</h3>
   
    <ul style="text-decoration:none;list-style:none;">
        <li>Um projeto open source de comunicação interna de força operacional com a gestão dos departamentos,</li>
        <li>este sistema tem intuito de melhorar a comunicação horizontal e visibilidade dos problemas</li>
        <li>e pontos positivos da empresa.</li>        
    </ul>
