@model GEFALA.Models.Mensagem

@{
    ViewBag.Title = "Index";
}

<center><h2 style="color:Green;">Mensagem gravada com sucesso!</h2>


  
<div style="text-decoration:underline;color:rgb(0,126,255);">
    @Html.ActionLink("Clique aqui para digitar uma nova mensagem!", "Index", "Home")
</div>

</center>
          

